body{
background-color:#BDB76B;
}
h1{
color:white;
text-align:center;
font-family:sans-serif;
background-color:#191919;
}
p{
margin-top:40px;
text-align:center;
font-family:awosme;
color:black;
font-size:28px;
}
img {
  margin-left:650px;
}
.royal{
background-color:#191919;
}