body{
background-color:#F2F3F4;
margin:0;
}
img{
	height:45%;
	width:45%;
}
h1{
	text-align:center;
}
p{
	font-family: "Trebuchet MS", Verdana, sans-serif;
	font-weight: bold;
	text-align:center;
	margin-left:30px;
	margin-right:30px;
}
* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  position: relative;
  display: none;
  height:100%;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
.row{
align:center;
}
